In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [7]:
import warnings
warnings.filterwarnings('ignore')

In [8]:
dataset= pd.read_csv('Melbourne_housing_FULL.csv')

In [9]:
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [10]:
dataset.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [11]:
cols_to_use= ['BuildingArea','Price','Type','Method','Distance','Bathroom','Bedroom2','Regionname','Propertycount'
              ,'CouncilArea','Car','Landsize','Suburb','SellerG','Rooms']

In [12]:
dataset = dataset[cols_to_use]

In [13]:
dataset

,BuildingArea,Price,Type,Method,Distance,Bathroom,Bedroom2,Regionname,Propertycount,CouncilArea,Car,Landsize,Suburb,SellerG,Rooms
0,NaN,NaN,h,SS,2.5,1.0,2.0,Northern Metropolitan,4019.0,Yarra City Council,1.0,126.0,Abbotsford,Jellis,2
1,NaN,1480000.0,h,S,2.5,1.0,2.0,Northern Metropolitan,4019.0,Yarra City Council,1.0,202.0,Abbotsford,Biggin,2
2,79.0,1035000.0,h,S,2.5,1.0,2.0,Northern Metropolitan,4019.0,Yarra City Council,0.0,156.0,Abbotsford,Biggin,2
3,NaN,NaN,u,VB,2.5,2.0,3.0,Northern Metropolitan,4019.0,Yarra City Council,1.0,0.0,Abbotsford,Rounds,3
4,150.0,1465000.0,h,SP,2.5,2.0,3.0,Northern Metropolitan,4019.0,Yarra City Council,0.0,134.0,Abbotsford,Biggin,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,NaN,1480000.0,h,PI,6.3,1.0,4.0,Western Metropolitan,6543.0,Maribyrnong City Council,3.0,593.0,Yarraville,Jas,4
34853,104.0,888000.0,h,SP,6.3,2.0,2.0,Western Metropolitan,6543.0,Maribyrnong City Council,1.0,98.0,Yarraville,Sweeney,2
34854,120.0,705000.0,t,S,6.3,1.0,2.0,Western Metropolitan,6543.0,Maribyrnong City Council,2.0,220.0,Yarraville,Jas,2
34855,NaN,1140000.0,h,SP,6.3,NaN,NaN,Western Metropolitan,6543.0,Maribyrnong City Council,NaN,NaN,Yarraville,hockingstuart,3
34856,103.0,1020000.0,h,PI,6.3,1.0,2.0,Western Metropolitan,6543.0,Maribyrnong City Council,0.0,250.0,Yarraville,RW,2

In [15]:
dataset.isna().sum()

BuildingArea     21115
Price             7610
Type                 0
Method               0
Distance             1
Bathroom          8226
Bedroom2          8217
Regionname           3
Propertycount        3
CouncilArea          3
Car               8728
Landsize         11810
Suburb               0
SellerG              0
Rooms                0
dtype: int64

In [17]:
cols_to_fill_zero = ['Propertycount','Distance','Bedroom2','Bathroom','Car']
dataset[cols_to_fill_zero] = dataset[cols_to_fill_zero].fillna(0)

In [19]:
dataset.isna().sum()

BuildingArea     21115
Price             7610
Type                 0
Method               0
Distance             0
Bathroom             0
Bedroom2             0
Regionname           3
Propertycount        0
CouncilArea          3
Car                  0
Landsize         11810
Suburb               0
SellerG              0
Rooms                0
dtype: int64

In [20]:
dataset['Landsize'] =dataset['Landsize'].fillna(dataset.Landsize.mean()) 
dataset['BuildingArea'] =dataset['BuildingArea'].fillna(dataset.Landsize.mean())

In [21]:
dataset.isna().sum()

BuildingArea        0
Price            7610
Type                0
Method              0
Distance            0
Bathroom            0
Bedroom2            0
Regionname          3
Propertycount       0
CouncilArea         3
Car                 0
Landsize            0
Suburb              0
SellerG             0
Rooms               0
dtype: int64

In [22]:
dataset.dropna(inplace=True)

In [23]:
dataset

,BuildingArea,Price,Type,Method,Distance,Bathroom,Bedroom2,Regionname,Propertycount,CouncilArea,Car,Landsize,Suburb,SellerG,Rooms
1,593.598993,1480000.0,h,S,2.5,1.0,2.0,Northern Metropolitan,4019.0,Yarra City Council,1.0,202.000000,Abbotsford,Biggin,2
2,79.000000,1035000.0,h,S,2.5,1.0,2.0,Northern Metropolitan,4019.0,Yarra City Council,0.0,156.000000,Abbotsford,Biggin,2
4,150.000000,1465000.0,h,SP,2.5,2.0,3.0,Northern Metropolitan,4019.0,Yarra City Council,0.0,134.000000,Abbotsford,Biggin,3
5,593.598993,850000.0,h,PI,2.5,2.0,3.0,Northern Metropolitan,4019.0,Yarra City Council,1.0,94.000000,Abbotsford,Biggin,3
6,142.000000,1600000.0,h,VB,2.5,1.0,3.0,Northern Metropolitan,4019.0,Yarra City Council,2.0,120.000000,Abbotsford,Nelson,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,593.598993,1480000.0,h,PI,6.3,1.0,4.0,Western Metropolitan,6543.0,Maribyrnong City Council,3.0,593.000000,Yarraville,Jas,4
34853,104.000000,888000.0,h,SP,6.3,2.0,2.0,Western Metropolitan,6543.0,Maribyrnong City Council,1.0,98.000000,Yarraville,Sweeney,2
34854,120.000000,705000.0,t,S,6.3,1.0,2.0,Western Metropolitan,6543.0,Maribyrnong City Council,2.0,220.000000,Yarraville,Jas,2
34855,593.598993,1140000.0,h,SP,6.3,0.0,0.0,Western Metropolitan,6543.0,Maribyrnong City Council,0.0,593.598993,Yarraville,hockingstuart,3
34856,103.000000,1020000.0,h,PI,6.3,1.0,2.0,Western Metropolitan,6543.0,Maribyrnong City Council,0.0,250.000000,Yarraville,RW,2

In [24]:
dataset = pd.get_dummies(dataset,drop_first=True)

In [26]:
dataset.head()

,BuildingArea,Price,Distance,Bathroom,Bedroom2,Propertycount,Car,Landsize,Rooms,Type_t,...,SellerG_hockingstuart/Harcourts,SellerG_hockingstuart/Marshall,SellerG_hockingstuart/Sweeney,SellerG_hockingstuart/Village,SellerG_hockingstuart/hockingstuart,SellerG_iHomes,SellerG_iOne,SellerG_iProperty,SellerG_iSell,SellerG_iTRAK
1,593.598993,1480000.0,2.5,1.0,2.0,4019.0,1.0,202.0,2,False,...,False,False,False,False,False,False,False,False,False,False
2,79.000000,1035000.0,2.5,1.0,2.0,4019.0,0.0,156.0,2,False,...,False,False,False,False,False,False,False,False,False,False
4,150.000000,1465000.0,2.5,2.0,3.0,4019.0,0.0,134.0,3,False,...,False,False,False,False,False,False,False,False,False,False
5,593.598993,850000.0,2.5,2.0,3.0,4019.0,1.0,94.0,3,False,...,False,False,False,False,False,False,False,False,False,False
6,142.000000,1600000.0,2.5,1.0,3.0,4019.0,2.0,120.0,4,False,...,False,False,False,False,False,False,False,False,False,False

In [27]:
X=dataset.drop('Price',axis=1)
Y=dataset['Price']

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=2)

In [30]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
reg = model.fit(X_train,y_train)

In [31]:
reg.score(X_test,y_test)

0.6545357056625302

In [32]:
reg.score(X_train,y_train)

0.6804433770514438