In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

ModuleNotFoundError: No module named 'word2number'

In [2]:
df=pd.read_csv("homeprices2.csv")

In [3]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
import math
df.bedrooms.median()
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [5]:
df['bedrooms'].fillna(median_bedrooms, inplace=True)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
df.describe()

              area  bedrooms        age          price
count     6.000000  6.000000   6.000000       6.000000
mean   3416.666667  4.166667  16.500000  648333.333333
std     587.934237  1.169045   8.288546  109117.673484
min    2600.000000  3.000000   8.000000  550000.000000
25%    3050.000000  3.250000   9.750000  572500.000000
50%    3400.000000  4.000000  16.500000  602500.000000
75%    3900.000000  4.750000  19.500000  722500.000000
max    4100.000000  6.000000  30.000000  810000.000000

In [7]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [8]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [9]:
reg.intercept_

221323.00186540408

In [13]:
reg.predict([[6000,4,10]])

C:\Users\sefak\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([954935.99474364])

In [15]:
from sklearn.metrics import mean_absolute_error

predictions = reg.predict(df[['area', 'bedrooms', 'age']])
mae = mean_absolute_error(df.price, predictions)
print("Ortalama Mutlak Hata (MAE):", mae)

Ortalama Mutlak Hata (MAE): 15507.938665720189